<h1>Acerca de nosotros</h1>

<div class="container">
  <br />
  <br />
</div>
<div class="row">
  <div class="d-flex justify-content-center" style="height: 20vh">
    <div class="card" style="width: 45rem">
      <div class="card-body text-center">
        <h5 class="card-title" style="color: blue">Misión</h5>
        <p class="card-text">
          Formar personas autónomas que vivencien la sana convivencia respetando
          la diversidad y apropiándose de los conocimientos para generar
          acciones de transformación personal, social y cultural.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <br />
    <br />
  </div>

  <div class="d-flex justify-content-center" style="height: 20vh">
    <div class="card" style="width: 45rem">
      <div class="card-body text-center">
        <h5 class="card-title" style="color: blue">Visión</h5>
        <p class="card-text">
          Para el año 2023 la Institución Educativa Manuela Beltrán será
          reconocida por su calidad humana y académica, formación técnica,
          eficientes procesos de desarrollo organizacional y proyección social.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <br />
    <br />
  </div>

  <div class="img-container">
      <img
        src="./assets/images/backgrounds/colegioUno.jpg"
        class="align-middle m-2"
        alt="logo"
      />
  </div>


