FrontEnd/node_modules/
FrontEnd/.angular/cache/
BackEnd/target/
BackEnd/bin/
.metadata/
.idea/
BackEnd/.mvn/
BackEnd/.settings/
BackEnd/.project
BackEnd/BackEnd.iml
BackEnd/.classpath
FrontEnd/dist/
BackEnd/logs/
.classpath
.factorypath
.project
.settings/
FrontEnd/dist/front-end/main.7bc781dffb93a327.js
